#breakTimePass .mdl-card__supporting-text #displayMoreBreak {
  display: none; }

#breakTimePass .mdl-card__supporting-text #readMoreBreak {
  margin: 0 auto;
  text-align: center; }

#railway {
  padding-left: 1em;
  padding-top: 1em; }
  #railway .mdl-card__supporting-text #displayMoreRailway {
    display: none; }
  #railway .mdl-card__supporting-text #readMoreRailway {
    margin: 0 auto;
    text-align: center; }

#scamMusuem {
  padding-left: 1em;
  padding-top: 1em; }
  #scamMusuem .mdl-card__supporting-text #displayMoreMuseum {
    display: none; }
  #scamMusuem .mdl-card__supporting-text #readMoreMuseum {
    margin: 0 auto;
    text-align: center; }
