body {
  color: black;
  font-family: 100% Roboto, Helvetica, sans-serif;
  background-color: #E0E0E0; }

a {
  color: #4CAF50; }

img {
  max-width: 100%; }

.mdl-layout .mdl-layout__header {
  background-color: #4CAF50;
  color: black; }
  .mdl-layout .mdl-layout__header .mdl-layout-title {
    font-size: 2em;
    font-weight: thin; }
  .mdl-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: black;
    height: 35px;
    margin-left: .5em;
    margin-top: .7em; }
    @media screen and (max-width: 320px) {
      .mdl-layout .mdl-layout__header .mdl-layout__drawer-button {
        margin-top: 1em; } }
    @media screen and (max-width: 768px) {
      .mdl-layout .mdl-layout__header .mdl-layout__drawer-button {
        margin-top: .35em; } }
    @media screen and (max-width: 1224px) {
      .mdl-layout .mdl-layout__header .mdl-layout__drawer-button {
        margin-top: .65em; } }
  .mdl-layout .mdl-layout__header .mdl-navigation {
    text-align: center; }
    .mdl-layout .mdl-layout__header .mdl-navigation .mdl-navigation__link {
      color: black;
      font-size: 1.25em;
      -o-transition: 0.25s;
      -ms-transition: 0.25s;
      -moz-transition: 0.25s;
      -webkit-transition: 0.25s;
      /* ...and now for the proper property */
      transition: 0.25s; }
      .mdl-layout .mdl-layout__header .mdl-navigation .mdl-navigation__link:hover {
        background-color: #2E7D32;
        border-bottom: solid 5px #E65100;
        -moz-box-shadow: inset 0 0 0.15em #000000;
        -webkit-box-shadow: inset 0 0 0.15em #000000;
        box-shadow: inset 0 0 0.15em #000000; }
    .mdl-layout .mdl-layout__header .mdl-navigation .active {
      border-bottom: solid 5px #E65100; }

#sideDrawer {
  background-color: #E0E0E0; }
  #sideDrawer .mdl-navigation .mdl-navigation__link {
    color: black;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    /* ...and now for the proper property */
    transition: 0.25s; }
    #sideDrawer .mdl-navigation .mdl-navigation__link:hover {
      color: white;
      background-color: #2E7D32;
      -moz-box-shadow: inset 0 0 0.15em #000000;
      -webkit-box-shadow: inset 0 0 0.15em #000000;
      box-shadow: inset 0 0 0.15em #000000; }
  #sideDrawer .mdl-navigation .nav-bar-social {
    margin: auto; }
    #sideDrawer .mdl-navigation .nav-bar-social a {
      -o-transition: 0.25s;
      -ms-transition: 0.25s;
      -moz-transition: 0.25s;
      -webkit-transition: 0.25s;
      /* ...and now for the proper property */
      transition: 0.25s;
      color: black; }
      #sideDrawer .mdl-navigation .nav-bar-social a:hover {
        color: #2E7D32; }

.super-content-card.mdl-card {
  width: 100%;
  background-color: #4CAF50;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.mdl-content-card.mdl-card {
  background-color: #E0E0E0;
  width: 100%;
  margin: auto;
  min-height: 0em;
  text-align: left;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
  .mdl-content-card.mdl-card .mdl-card__supporting-text {
    padding-top: .5em;
    text-align: left;
    font-size: 1em;
    line-height: 1.50em; }
    .mdl-content-card.mdl-card .mdl-card__supporting-text .social-link {
      color: black;
      margin: 0.25em 0.25em 0.25em 0.25em;
      -o-transition: 0.25s;
      -ms-transition: 0.25s;
      -moz-transition: 0.25s;
      -webkit-transition: 0.25s;
      /* ...and now for the proper property */
      transition: 0.25s; }
      .mdl-content-card.mdl-card .mdl-card__supporting-text .social-link:hover {
        color: #E65100; }
  .mdl-content-card.mdl-card .mdl-card__title {
    text-align: center;
    padding-bottom: .25em;
    padding-top: .5em;
    text-align: center; }
    .mdl-content-card.mdl-card .mdl-card__title a {
      /*color: $accent-color;*/ }

.contentHeader {
  font-weight: thin;
  text-align: left;
  padding-left: .5em;
  margin-bottom: .25em; }

.mdl-grid {
  width: auto; }
  .mdl-grid .mdl-cell {
    margin: 0.5em 0.5em 0.5em 0.5em; }
    .mdl-grid .mdl-cell .project {
      width: 47%; }
      .mdl-grid .mdl-cell .project .breakpic {
        margin: auto; }

#skillContainer {
  width: 100%; }
  #skillContainer .mdl-parentSkill-card {
    background-color: #E0E0E0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 7px; }
    #skillContainer .mdl-parentSkill-card .mdl-parentSkill__title {
      margin-left: .5em;
      margin-top: .5em;
      font-size: 1.5em; }
    #skillContainer .mdl-parentSkill-card .mdl-grid .mdl-card {
      min-height: 0em; }
    #skillContainer .mdl-parentSkill-card .mdl-grid .mdl-skill-card.mdl-cell {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      min-width: 5em;
      border-radius: 7px; }
      #skillContainer .mdl-parentSkill-card .mdl-grid .mdl-skill-card.mdl-cell .mdl-card__title {
        color: black;
        padding: 0.25em 0.25em 0.25em 0.5em; }
      #skillContainer .mdl-parentSkill-card .mdl-grid .mdl-skill-card.mdl-cell .mdl-card__supporting-text {
        color: black;
        padding: 0.25em 0.25em 0.25em 0.5em; }
      #skillContainer .mdl-parentSkill-card .mdl-grid .mdl-skill-card.mdl-cell:hover {
        background-color: #E0E0E0;
        /*background-color: $primary-dark;*/ }

#aboutMeCard .mdl-card__title {
  /*color: $accent-color;*/
  height: 200px;
  background: url(../Assets/uttower.jpg) center bottom; }

#aboutMeCard .mdl-card__supporting-text {
  padding-bottom: 0em; }

#aboutMeCard #resumeLink {
  text-align: center;
  margin-top: .5em;
  margin-bottom: 1em; }
  #aboutMeCard #resumeLink button {
    color: #ffffff;
    background-color: #E65100; }
    #aboutMeCard #resumeLink button:hover {
      background-color: #E65100;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

#employmentSears .logo {
  height: 200px; }

#employmentSears .mdl-card__title {
  padding-bottom: .25em;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  /* ...and now for the proper property */
  transition: 0.25s;
  /*color: black;*/ }

#employmentSears .mdl-card__supporting-text {
  padding-top: .25em; }
  #employmentSears .mdl-card__supporting-text ul {
    padding-left: 1em; }

form {
  text-align: center; }
  form .form-element {
    width: 100%; }
  form .mdl-textfield {
    color: #E65100; }
  form form-button {
    margin: auto; }
  form .mdl-button--accent.mdl-button--accent.mdl-button--raised, form .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: #E65100; }

.profilePic {
  border-radius: 50%;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  height: 6em;
  width: 6em;
  max-width: 100%; }
