body {
  font: 100% Roboto, Helvetica, sans-serif;
  color: #333; }

.mdl-layout__header .mdl-layout-title {
  font-size: 3em; }

.mdl-layout__header .mdl-navigation .mdl-navigation__link {
  font-size: 1em; }

.mdl-content-card.mdl-card {
  width: 100%;
  margin: auto;
  margin-top: 2em;
  text-align: left; }
  .mdl-content-card.mdl-card .mdl-skill-card {
    width: 5em; }
  .mdl-content-card.mdl-card .mdl-card__title {
    text-align: center; }
  .mdl-content-card.mdl-card .mdl-card__supporting-text {
    text-align: left;
    font-size: 1em;
    line-height: 1.50em; }

.contentHeader {
  text-align: center; }
