body {
  font-family: 100% Roboto, Helvetica, sans-serif;
  background-color: #E0E0E0; }

.mdl-layout .mdl-layout__header {
  background-color: #03A9F4;
  color: black; }
  .mdl-layout .mdl-layout__header .mdl-layout-title {
    /*			font-size: $font-size + 2;*/
    font-weight: thin; }
  .mdl-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: black;
    height: 35px;
    margin-left: .5em;
    margin-top: .7em; }
    @media screen and (max-width: 320px) {
      .mdl-layout .mdl-layout__header .mdl-layout__drawer-button {
        margin-top: 1em; } }
    @media screen and (max-width: 768px) {
      .mdl-layout .mdl-layout__header .mdl-layout__drawer-button {
        margin-top: .35em; } }
    @media screen and (max-width: 1224px) {
      .mdl-layout .mdl-layout__header .mdl-layout__drawer-button {
        margin-top: .65em; } }
  .mdl-layout .mdl-layout__header .mdl-navigation .mdl-navigation__link {
    color: black;
    font-size: 1.25em;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    /* ...and now for the proper property */
    transition: 0.25s; }
    .mdl-layout .mdl-layout__header .mdl-navigation .mdl-navigation__link:hover {
      color: #2E7D32;
      /*background-color: $primary-dark;*/ }
    .mdl-layout .mdl-layout__header .mdl-navigation .mdl-navigation__link:actove {
      background-color: #01579B; }

.super-content-card.mdl-card {
  width: 100%;
  background-color: #03A9F4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.mdl-content-card.mdl-card {
  background-color: #E0E0E0;
  width: 100%;
  margin: auto;
  text-align: left;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
  .mdl-content-card.mdl-card .mdl-skill-card {
    width: 5em; }
  .mdl-content-card.mdl-card .mdl-card__title {
    text-align: center; }
  .mdl-content-card.mdl-card .mdl-card__supporting-text {
    text-align: left;
    font-size: 1em;
    line-height: 1.50em; }
    .mdl-content-card.mdl-card .mdl-card__supporting-text .social-link {
      color: black;
      margin: 0.25em 0.25em 0.25em 0.25em; }
      .mdl-content-card.mdl-card .mdl-card__supporting-text .social-link:hover {
        color: #4CAF50; }
  .mdl-content-card.mdl-card .mdl-card__title {
    text-align: center; }

.contentHeader {
  font-weight: thin;
  text-align: center;
  margin-bottom: .25em; }

.mdl-grid .skill-grid .mdl-skill-card {
  max-height: 100px; }
  .mdl-grid .skill-grid .mdl-skill-card .mdl-card-title {
    text-align: center; }

#aboutMeCard .mdl-card__title {
  color: #4CAF50;
  height: 200px;
  background: url(../Assets/uttower.jpg) center/cover; }

#employmentSears .mdl-card__title {
  height: 167px;
  background: url(../Assets/sears_logo.png) center/cover; }
  #employmentSears .mdl-card__title .mdl-card__title-text {
    color: #4CAF50; }

form {
  text-align: center; }
  form .form-element {
    width: 100%; }
  form form-button {
    margin: auto; }
