

#breakTimePass{
	.mdl-card__supporting-text{	
		#displayMoreBreak{
			display:none;
		}
		#readMoreBreak{
			margin: 0 auto;
			text-align: center;
		}
	}
	min-height: 0em;
}

#railway{
	padding-left: 1em;
	padding-top: 1em;
	.mdl-card__supporting-text{	
		#displayMoreRailway{
			display:none;
		}
		#readMoreRailway{
			margin: 0 auto;
			text-align: center;
		}
	}
	min-height: 0em;
}

#scamMusuem{
	padding-left: 1em;
	padding-top: 1em;
	.mdl-card__supporting-text{	
		#displayMoreMuseum{
			display:none;
		}
		#readMoreMuseum{
			margin: 0 auto;
			text-align: center;
		}
	}
	min-height: 0em;
}

#huffmanCoding{
	padding-left: 1em;
	padding-top: 1em;
	.mdl-card__supporting-text{	
		#displayMoreHuffman{
			display:none;
		}
		#readMoreHuffman{
			margin: 0 auto;
			text-align: center;
		}
	}
	min-height: 0em;
}

#websiteProject{
	padding-left: 1em;
	padding-top: 1em;
	height: auto;
	min-height: 0em;
}

