

#breakTimePass{
	.mdl-card__supporting-text{	
		#displayMoreBreak{
			display:none;
		}
		#readMoreBreak{
			margin: 0 auto;
			text-align: center;
		}
	}
}

#railway{
	padding-left: 1em;
	padding-top: 1em;
	.mdl-card__supporting-text{	
		#displayMoreRailway{
			display:none;
		}
		#readMoreRailway{
			margin: 0 auto;
			text-align: center;
		}
	}
}

#scamMusuem{
	padding-left: 1em;
	padding-top: 1em;
	.mdl-card__supporting-text{	
		#displayMoreMuseum{
			display:none;
		}
		#readMoreMuseum{
			margin: 0 auto;
			text-align: center;
		}
	}
}

