@import "mixins";

$hover-time: .25s;

$font-stack: Roboto, Helvetica, sans-serif;
$primary-color: #4CAF50;
$primary-dark: #2E7D32;


$accent-color:#E65100;
$accent-dark:#E65100;

$body-background: #E0E0E0;
$card-super-background: $primary-color;
$header-color: black;

$font-size: 1em;

$break-small: 320px;
$break-tablet: 768px;
$break-desktop: 1224px;

$skill-border-radius: 7px;
$skill-padding: .5em;
$skill-text-color: black;

$nav-shadow: .15em;

@function set-notification-text-color($color) {
  @if (lightness($color) > 50) {
    @return rgba(0,0,0,.7); // Lighter backgorund, return dark color
  } @else {
    @return rgba(255,255,255,.8);; // Darker background, return light color
  }
}

@mixin buttonColor(){
	color: set-notification-text-color($accent-color);

	background-color: black;
	&:hover{
		color: set-notification-text-color($accent-color);
		background-color: $accent-color;
		@include shadow-4dp();
	}
}

@mixin socialLink(){
		-o-transition:$hover-time;
		-ms-transition:$hover-time;
		-moz-transition:$hover-time;
		-webkit-transition:$hover-time;
		/* ...and now for the proper property */
		transition:$hover-time;
		color: black;

		&:hover{
			color: $accent-color;
		}
}

body {
	color: black;
	font-family: 100% $font-stack;
 	background-color: $body-background;
}

a{
	color: $primary-color;
}

img {
  max-width: 100%;
}


.mdl-layout{
	.mdl-layout__header{
		background-color: $primary-color;
		color: $header-color;
		.mdl-layout-title{
			font-size: $font-size + 1;
			font-weight: thin;
		}

		.mdl-layout__drawer-button{
			@media screen and (max-width: $break-small) {
				margin-top: 1em;
		  	}
		  	@media screen and (max-width: $break-tablet) {
				margin-top: .35em;
		  	}
		  	@media screen and (max-width: $break-desktop) {
				margin-top: .65em;
		  	}
		  	color: $header-color;
			height: 35px;
			margin-left: .5em;
			margin-top: .7em;
		}

		.mdl-navigation{
			text-align: center;
			.mdl-navigation__link{
				color: $header-color;
				font-size: $font-size+.25;
				-o-transition:$hover-time;
				-ms-transition:$hover-time;
				-moz-transition:$hover-time;
				-webkit-transition:$hover-time;
				/* ...and now for the proper property */
				transition:$hover-time;
				&:hover {
				   background-color: $primary-dark;
				   color: set-notification-text-color($primary-dark);
				   border-bottom: solid 5px $accent-color;
			 		-moz-box-shadow:    inset 0 0 $nav-shadow #000000;
				   -webkit-box-shadow: inset 0 0 $nav-shadow #000000;
				   box-shadow:         inset 0 0 $nav-shadow #000000;
				   
			 	}
			 	&:active{
			 		
			 	}			 	
			}

			.active{
		 		border-bottom: solid 5px $accent-color;
			}
		}
	}
}

#sideDrawer{
	background-color: $body-background;
	.profilePic{
		margin: 1em auto;
	}
	.mdl-navigation{
		.mdl-navigation__link{
			color: black;

			-o-transition:$hover-time;
			-ms-transition:$hover-time;
			-moz-transition:$hover-time;
			-webkit-transition:$hover-time;
			/* ...and now for the proper property */
			transition:$hover-time;

			&:hover{
				color: white;
				background-color: $primary-dark;
		 		-moz-box-shadow:    inset 0 0 $nav-shadow #000000;
			   -webkit-box-shadow: inset 0 0 $nav-shadow #000000;
			   box-shadow:         inset 0 0 $nav-shadow #000000;
			}
		}
		.nav-bar-social{
			margin: auto;
			a{
				@include socialLink();
			}
		}
	}
}



.super-content-card.mdl-card{
	width: 100%;
	background-color: $card-super-background;
	@include shadow-2dp();

}

.mdl-content-card.mdl-card{
	background-color: $body-background;
	width: 100%;
	margin: auto;
	min-height: 0em;
	text-align: left;
	@include shadow-4dp();

	.mdl-card__supporting-text {
		padding-top: .5em;
		text-align: left;
		font-size: $font-size;
		line-height: 1.50em;

		.social-link{
			@include socialLink();
		}
	}

	.mdl-card__title{
		text-align: center;
		padding-bottom: .25em;
		padding-top: .5em;
		text-align: center;
		a{
			/*color: $accent-color;*/
		}
	}
}

.contentHeader{
	font-weight: thin;
	text-align: left;
	padding-left: .5em;
	margin-bottom: .25em;
}

.mdl-grid{
	width: auto;
	.mdl-cell{
		margin: .5em .5em .5em .5em;
	}
}

.project{
	width: 47%;
	.breakpic{
		margin: auto;
	}

	.mdl-card__supporting-text{

		button{
			@include buttonColor();
		}
	}
}

#skillContainer{
	width: 100%;
	.mdl-parentSkill-card{
		background-color: $body-background;
		@include shadow-2dp();
		border-radius: $skill-border-radius;

		.mdl-parentSkill__title{
			margin-left: .5em;
			margin-top: .5em;
			font-size: $font-size + .5;
		}

		.mdl-grid{
			.mdl-card{
				min-height: 0em;
			}
			.mdl-skill-card.mdl-cell{
				@include shadow-2dp();
				min-width: 5em;
				border-radius: $skill-border-radius;

				
				.mdl-card__title{
					color: $skill-text-color;
					padding: .25em .25em .25em $skill-padding;
				}
				.mdl-card__supporting-text{
					color: $skill-text-color;
					padding: .25em .25em .25em .5em;
				}

				&:hover {
				   background-color: $body-background;
				   /*background-color: $primary-dark;*/
			 	}
			}
		}
	}
}

#aboutMeCard{
	.mdl-card__title{
		/*color: $accent-color;*/
		height: 200px;
		background: url(../Assets/uttower.jpg) center bottom;
	}

	.mdl-card__supporting-text{
		padding-bottom: 0em;
	}

	#resumeLink{
		text-align: center;
		margin-top: .5em;
		margin-bottom: 1em;
		button{
			@include buttonColor();
		}
	}
}



#employmentSears{
	.logo{
		height: 200px;
	}
	.mdl-card__title{
		padding-bottom: .25em;
		-o-transition:$hover-time;
		-ms-transition:$hover-time;
		-moz-transition:$hover-time;
		-webkit-transition:$hover-time;
		/* ...and now for the proper property */
		transition:$hover-time;
		/*color: black;*/
	}
	.mdl-card__supporting-text{
		padding-top:.25em;
		ul{
			padding-left: 1em;
		}
	}
}

form{
	text-align: center;
	.form-element{
		width: 100%;
	}
	.mdl-textfield{
		color: $accent-color;
	}

	form-button{
		margin: auto;
	}

	.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab{
		@include buttonColor();
	}
}

.profilePic{
	border-radius: 50%;
	margin-top: 2.5em;
	margin-left: 1em;
	margin-right: 1em;
	@include shadow-4dp();
	height: 6em;
	width: 6em;
	max-width: 100%;
}
