$font-stack:    Roboto, Helvetica, sans-serif;
$primary-color: #333;
$font-size: 1em;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.mdl-layout__header{
	.mdl-layout-title{
		font-size: $font-size + 2;
	}

	.mdl-navigation{
		.mdl-navigation__link{
			font-size: $font-size;
		}
	}
}

.mdl-content-card.mdl-card{
	width: 100%;
	margin: auto;
	margin-top: 2em;
	text-align: left;

	.mdl-skill-card{
		width: 5em;
	}

	.mdl-card__title {
		text-align: center;
	}

	.mdl-card__supporting-text {
		text-align: left;
		font-size: $font-size;
		line-height: 1.50em;
	}
}

.contentHeader{
	text-align: center;
}




